<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home-page">

<div class="home-card">

    <div class="logo">✏️</div>

    <h1>Edit Course</h1>

    <p class="subtitle">Редактирование курса</p>

    <div class="line"></div>

    <form th:action="@{/mvc/courses/edit/{id}(id=${courseId})}"
          th:object="${course}"
          method="post">

        <div class="form-group">
            <label>Title</label>
            <input type="text" th:field="*{title}">
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" th:field="*{price}">
        </div>

        <div class="form-group">
            <label>Duration</label>
            <input type="number" th:field="*{duration}">
        </div>

        <div class="form-group">
            <label>Teacher ID</label>
            <input type="number" th:field="*{teacherId}" placeholder="ID преподавателя">
        </div>

        <button class="submit-btn" type="submit">Сохранить</button>
    </form>

    <div class="home-link">
        <a href="/mvc/dashboard" class="small-btn">Личный кабинет</a>
        <a href="/mvc/courses">Назад к курсам</a>
    </div>

</div>

</body>
</html>