<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home-page">

<div class="home-card">
    <div class="logo">🎓</div>

    <h1>Teacher Panel</h1>

    <p class="subtitle">Личный кабинет преподавателя</p>
    <p class="welcome-text">
        Добро пожаловать, <span th:text="${username}"></span>
    </p>

    <div class="line"></div>

    <div class="menu">
        <a href="/mvc/courses" class="menu-item orange">
            <span class="icon">📚</span>
            <span>
                <strong>Курсы</strong>
                <small>Просмотр и управление курсами</small>
            </span>
            <b>›</b>
        </a>

        <a href="/mvc/students" class="menu-item green">
            <span class="icon">👥</span>
            <span>
                <strong>Студенты</strong>
                <small>Посмотреть список студентов</small>
            </span>
            <b>›</b>
        </a>

        <a href="/" class="menu-item blue">
            <span class="icon">🏠</span>
            <span>
                <strong>На главную</strong>
                <small>Вернуться на стартовую страницу</small>
            </span>
            <b>›</b>
        </a>
    </div>

    <form action="/logout" method="post">

        <button class="submit-btn" type="submit">
            Logout
        </button>

    </form>
</div>

</body>
</html>